<?xml version="1.0"?>
<config>
    <sections>
        <newrelic translate="label" module="proxiblue_newrelic">
            <label>NewRelic</label>
            <tab>service</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <api translate="label">
                    <label>Api Connection</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <account_id translate="label">
                            <label>Account ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </account_id>
                        <internal_key translate="label">
                            <label>Hatimeria Internal Access Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </internal_key>
                        <internal_link translate="label">
                            <label>Hatimeria Internal App Url</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </internal_link>
                        <license_key translate="label">
                            <label>License Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </license_key>
                        <application_name translate="label">
                            <label>Application Name</label>
                            <comment><![CDATA[The application name to use.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </application_name>
                        <backend_application_name translate="label">
                            <label>Backend Application Name</label>
                            <comment><![CDATA[The application name to use for backend requests.]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </backend_application_name>
                        <cron_appname>
                            <label>Cron Application Name</label>
                            <comment><![CDATA[Set application name used for tracking cron]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </cron_appname>

                    </fields>
                </api>
                <settings translate="label">
                    <label>Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <record_cache translate="label">
                            <label>Record Cache Events</label>
                            <comment><![CDATA[Enable to record cache clear events on NewRelic Graph]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </record_cache>
                        <record_index translate="label">
                            <label>Record Index Events</label>
                            <comment><![CDATA[Enable to record index clear events on NewRelic Graph]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </record_index>
                        <record_system_log translate="label">
                            <label>Record system.log</label>
                            <comment><![CDATA[Send system.log entries to newrelic. Logging to system log must also be enabled]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </record_system_log>
                        <system_log_ignore_message translate="label">
                            <label>Do not record these log entries</label>
                            <frontend_model>proxiblue_newrelic/adminhtml_system_config_form_field_ignoremessage</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Add message strings not to record in NewRelic.]]></comment>
                        </system_log_ignore_message>
                        <system_log_ignore_debug translate="label">
                            <label>Ignore DEBUG messages</label>
                            <comment><![CDATA[Enable to ignore any message flagged as DEBUG. Must be disabled to test.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </system_log_ignore_debug>
                        <record_exception translate="label">
                            <label>Record Exceptions</label>
                            <comment><![CDATA[Send exceptions to newrelic.]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </record_exception>
                        <exception_ignore_message translate="label">
                            <label>Do not record these exceptions</label>
                            <frontend_model>proxiblue_newrelic/adminhtml_system_config_form_field_ignoremessage</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>7</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Add message strings not to record in NewRelic]]></comment>
                        </exception_ignore_message>
                        <named_transactions translate="label">
                            <label>Name Route, Controllers and Actions</label>
                            <comment><![CDATA[Enable to add newrelic_named_transaction to controller calls. Ref: https://newrelic.com/docs/php/the-php-api]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </named_transactions>
                        <add_module_to_named_transactions translate="label">
                            <label>Add module name to named transactions</label>
                            <comment><![CDATA[Enable to include the module name in the named transaction]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </add_module_to_named_transactions>
                        <ignore_admin_routes translate="label">
                            <label>Do not send core magento admin request to New Relic</label>
                            <comment><![CDATA[Enable to ignore Backend Urls]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </ignore_admin_routes>
                        <ignore_modules translate="label">
                            <label>Do not record these modules requests</label>
                            <frontend_model>proxiblue_newrelic/adminhtml_system_config_form_field_ignoremodule</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Add module names to not to record in NewRelic.<br/>To find the correct module name]]></comment>
                        </ignore_modules>
                        <custom_tracers translate="label">
                            <label>Custom Tracers</label>
                            <frontend_model>proxiblue_newrelic/adminhtml_system_config_form_field_tracers</frontend_model>
                            <backend_model>adminhtml/system_config_backend_serialized_array</backend_model>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Add tracers to newrelic for the class methods. Format must be class::method]]></comment>
                        </custom_tracers>
                    </fields>
                </settings>
                <metrics translate="label">
                    <label>Metrics</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>3</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <signup_success translate="label">
                            <label>Record Customer Signup Success</label>
                            <comment><![CDATA[Enable to record customer signup metrics]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </signup_success>
                    </fields>
                </metrics>
            </groups>
        </newrelic>
    </sections>
</config>
